.dashboard-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 70px;
  padding: 0 1.5rem;
  background: linear-gradient(90deg, #3c89bd, #086cd1);
  color: #ffffff !important;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 10px rgba(255, 0, 0, 0.3);
  font-size: 1.4rem;
  font-weight: 600;
}

.toolbar span {
  display: flex;
  align-items: center;
}

.toolbar .title-text {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff !important;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.397);
}

.spacer {
  flex: 1 1 auto;
}

.toolbar button {
  margin-left: 1rem;
  padding: 0 1.2rem !important;
  height: 42px !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  font-size: 0.95rem !important;
  display: flex !important;
  align-items: center !important;
  gap: 6px !important;
  box-shadow: 0 3px 6px rgba(255, 0, 0, 0.25) !important;
  transition: 0.2s ease-in-out !important;
}

.toolbar button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.35) !important;
}

.content {
  
}
